/* Mobile screen size styles */
html {
    --small_border_radius: 5px;
    --medium_border_radius: 8px;
    --large_border_radius: 12px;

    --text_align: center;

    --small_grid_body: 1fr minmax(5rem, 2fr) 1fr;
    /* this 35rem (700px) value comes from medium */
    --medium_grid_body: 1fr minmax(5rem, 700px) 1fr;
    --large_grid_body: 1fr minmax(5rem, 6fr) 1fr;
    --max_width: 100%;
}

img {
    border-radius: var(--small_border_radius);
}

p:has(> img) {
    text-align: var(--text_align);
}

/* code element that is not a child of pre element */
code:not(pre code) {
    padding: 4px;
    padding-bottom: 2px;
    margin: 0;
    font-size: 85%;
    font-style: normal;
    white-space: break-spaces;
    background-color: #767f8b1f;
    border-radius: 6px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
        Liberation Mono, monospace;
}

/* mermaid graphs */
pre[class*='language-'],
pre {
    border-radius: var(--medium_border_radius);
    box-sizing: border-box;
    /* code snippets */
    padding: 1.5em;
    line-height: 1.8;

    &:has(code) {
        max-height: 85dvh;
    }

    &:has(code.hljs) {
        /* The same background color as the one used in PrismJS light theme */
        /* background: #f5f2f0; */
        padding: 0;
        border: 1px solid #b2b8b890;

        & code.hljs {
            border-radius: inherit;
            padding: 1.5rem;
        }
    }
}

/* images of post snippets  */
/* feed page */
.post-outer {
    & .snippet-thumbnail {
        border-radius: var(--medium_border_radius);
    }
}

#comments.embed[data-num-comments='0'] {
    padding-top: 2rem;
}

div.post-body-container {
    /* some photos should take entire available space. So, to specify that the alt message should end with " width_100" */
    & img[alt$='width_100'] {
        width: 100%;
    }

    & table {
        --border_color: #60606088;
        --bg_highlight_color: #f5f5f5;
        --border_radius: 8px;

        display: block;
        width: max-content;
        max-width: calc(100% - 2px);
        overflow: auto;
        border-spacing: 0;
        margin: 1.5rem auto;
        border: 1px solid var(--border_color);
        border-radius: var(--border_radius);

        & tbody tr:nth-child(2n) {
            background-color: var(--bg_highlight_color);
        }

        th,
        td {
            padding: 6px 13px;
            word-break: normal;
            min-width: 160px;
            max-width: 450px;
            &:not(:first-child) {
                border-left: 1px solid var(--border_color);
            }
        }

        td {
            border-top: 1px solid var(--border_color);
        }
    }

    & summary {
        /* default */
        background-color: #ffffff;
        border: 1px solid rgb(209, 213, 219);
        border-radius: var(--medium_border_radius);
        box-sizing: border-box;
        color: #111827;
        font-family: 'Inter var', ui-sans-serif, system-ui, -apple-system,
            system-ui, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
            sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
            'Noto Color Emoji';
        font-size: 0.875rem;
        font-weight: 600;
        line-height: 1.25rem;
        padding: 0.5rem 1rem;
        text-align: center;
        text-decoration: none #d1d5db solid;
        text-decoration-thickness: auto;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
        cursor: pointer;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
            background-color: rgb(249, 250, 251);
        }

        &:focus {
            outline: 2px solid transparent;
            outline-offset: 2px;
        }

        &:focus-visible {
            box-shadow: none;
        }

        &.fancy {
            box-shadow: none;
            --b: 1px; /* border thickness */
            --s: 0.5em; /* size of the corner */
            --color: gray;

            padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
            color: var(--color);
            --_p: var(--s);
            background: conic-gradient(
                    from 90deg at var(--b) var(--b),
                    #0000 90deg,
                    var(--color) 0
                )
                var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
                calc(100% - var(--b) - 2 * var(--_p));
            transition: 0.3s linear, color 0s, background-color 0s;
            outline: var(--b) solid #0000;
            outline-offset: -2px;
            font-size: 1rem;

            border: 1px solid transparent;

            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            outline-width: 1px;

            &:hover,
            &:focus-visible {
                --_p: 0px;
                outline-color: rgb(180, 180, 180);
                outline-offset: -2px;
                outline-width: 1px;
                color: rgb(70, 70, 70);
                background-color: transparent;
            }

            &:active {
                background: rgb(245, 245, 245);
                color: rgb(70, 70, 70);
                outline-width: 1px;
                outline-offset: -2px;
            }
        }
    }
}

/* overwrite blockquote styles */
body.item-view {
    & blockquote {
        position: relative;
        font-size: inherit;
        font-weight: normal;
        font-style: normal;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans',
            Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
        line-height: 1.5;
        padding: 0 1em;
        margin: 0;
        margin-bottom: 1rem;
        /* margin-left: 0; */
        /* border-left: 0.25em solid #c9ced3;
        border-radius: 4px; */
        border: none;
        color: #525252;

        /* remove quote (") signs */
        &::before {
            background-color: #c9ced3;
            border-radius: var(--medium_border_radius);
            bottom: 0;
            content: '';
            display: block;
            left: 0;
            position: absolute;
            top: 0;
            width: 4px;
        }

        &::after {
            content: none;
        }

        & > p:first-of-type {
            margin-top: 0;
        }

        & > p:last-of-type {
            margin-bottom: 0;
        }
    }

    /* make horizontal rule 3 dots */
    & hr {
        border: none;
        border-top: 3px dotted rgb(177, 181, 179);
        border-radius: 0;
        height: 1rem;
        background: transparent;
        width: 1.8rem;
        margin: 2.5rem auto 1rem auto;
    }
}

@media screen and (max-width: 968px) {
    body.item-view .Blog {
        & .post-title-container {
            padding: 62px 24px 54px 24px;
        }

        & .post-body {
            font-size: 16px;
        }
    }

    /* the header element of the filter page (when posts are selected based on labels or published date */
    .post-filter-message {
        margin: 24px 0 48px 0;
        padding: 15px 30px;
    }

    table {
        & th,
        & td {
            min-width: 100px;
        }
    }
}

@media screen and (width > 1150px) {
    /* top header that contains the blog name, "Cherry Peeked", navigation etc */
    div.centered-top {
        display: grid;
        grid-template-columns: var(--large_grid_body);
        padding: 44px 0 32px 0;

        & div.centered-top-firstline.container {
            grid-row: 1;
            grid-column: 2/3;
        }

        & > nav {
            grid-row: 2;
            grid-column: 2 / 3;
        }
    }

    .main_content_container {
        display: grid;
        grid-template-columns: var(--large_grid_body);
        width: 100%;
        margin: 0;
        max-width: 100%;

        & .page {
            grid-column: 2 / 3;
            justify-self: center;
        }

        /* side of the entire page, not a post */
        & .sidebar-container {
            grid-column: 1 / 2;
            grid-row: 1;
            justify-self: center;
            z-index: 0;
        }

        & pre:has(> code.mermaid),
        & p:has(> img) {
            text-align: var(--text_align);
        }
    }

    /* since starting width 1150px the container uses grid,
    post-title does not spread entire screen widths, hence using border-radius */
    body.item-view .Blog .post-body {
        line-height: 32px;
    }

    body.item-view .Blog .post-title-container {
        border-radius: var(--small_border_radius);
        padding-bottom: 5rem;
        padding-top: 5rem;
        padding-left: 2.5rem;
        padding-right: 2.5rem;
    }

    /* the subheader that contains published date of the post */
    body.item-view .Blog .post-header-container {
        display: grid;
        grid-template-columns: var(--medium_grid_body);
        padding-left: 0;
        padding-right: 0;
        max-width: var(--max_width);

        & .post-header {
            grid-column: 2 / 3;
        }
    }

    /* -------------- POST BODY ------------------- */

    div.post-body-container,
    div.post-body.entry-content {
        max-width: 100%;
        overflow: auto;
    }

    body.item-view .Blog .post-body-container {
        display: grid;
        grid-template-columns: var(--medium_grid_body);
        margin-right: 0;
        padding-right: 0;
        margin-left: 0;
        max-width: var(--max_width);

        & .post-sidebar {
            /* position: static;
            padding-top: 12px;
            order: 1; */
            width: 0;
            display: none;
        }

        & .post-body {
            grid-column: 2 / 3;
            justify-self: center;
            margin-right: 0;
        }
    }

    /* Post Bottom that contains share button only */
    body.item-view .widget.Blog div.post-bottom {
        display: grid;
        grid-template-columns: var(--medium_grid_body);
        margin: 0;
        max-width: var(--max_width);

        & div.post-share-buttons.post-share-buttons-bottom {
            justify-self: end;

            & .flat-button {
                font: 600 16px Open Sans, sans-serif;
                border-radius: var(--medium_border_radius);
                padding: 0.5rem 1.2rem;
                margin-right: 0.5rem;
            }
        }
    }

    /* -------------------- FEED ------------------------ */
    /*  on the landing page of the blog, heroPost is the feature post */
    div.heroPost {
        border-radius: var(--large_border_radius);
        box-shadow: 0 0 17px 0 #cdd4d0;

        & div.big-post-title {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

        & a.big-post-image {
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
        }
    }

    /* -------------------------------------------- */
    /* the header element of the filter page (when posts are selected based on labels or published date */
    .post-filter-message {
        font: 600 18px Open Sans, sans-serif;
        margin: 40px 106px 48px 106px;
        padding: 30px 40px;
        border-radius: var(--small_border_radius);
    }

    /* Post title */
    h3.post-title.entry-title:not(:has(a)) {
        text-align: var(--text_align);
        text-wrap: pretty;
    }

    /* let the code to be scrollable when it is longer than its container */
    pre[class*='language-']:has(code),
    pre:has(code) {
        white-space: pre; /* Ensure no wrapping inside the pre */
        max-width: 100%; /* Ensure it stays within its container */

        overflow: auto; /* Allow scrolling if the content is too long */
        border-radius: 10px;
    }

    img {
        border-radius: var(--medium_border_radius);
    }

    /* ------------------------------------ */
    /* SCROLLBAR */
    /* Change scrollbar color to white and scrollbar thumb color to green to match with the theme  */
    html {
        scrollbar-width: 10px;
        scrollbar-gutter: 10px;
        scrollbar-track-color: #f5f5f5;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
        background-color: #f5f5f5;
        border-radius: var(--medium_border_radius);
    }

    ::-webkit-scrollbar {
        background-color: #f5f5f5;
        width: 8px;
    }

    ::-webkit-scrollbar:horizontal {
        height: 6px;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: var(--medium_border_radius);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #e2e2e2;
    }

    ::-webkit-scrollbar-thumb:active,
    ::-webkit-scrollbar-thumb:hover {
        background-color: #62c8b2;
    }

    /* ---------------------------- */

    body.item-view hr {
        border-top: 5px dotted rgb(177, 181, 179);
    }
}

@media screen and (1400px > width > 1171px) {
    .sidebar-container {
        padding-right: 1rem;
    }

    div.heroPost {
        & div.big-post-title {
            padding-left: 5rem;
            padding-right: 3rem;
        }
    }

    div.FeaturedPost + div.Blog.widget {
        padding-left: 70px;
        padding-right: 70px;
    }

    a.snippet-thumbnail + div.post-content.container {
        margin-right: 36px;
    }

    .post-outer a.snippet-thumbnail {
        margin-right: 0;
    }

    .PopularPosts a.snippet-thumbnail {
        margin-right: 140px;
        width: 200px;
        height: 190px;
    }
}

@media screen and (width > 1281px) {
    /* top header that contains the blog name, "Cherry Peeked", navigation etc */
    div.centered-top {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    body.item-view .Blog .post-title-container {
        border-radius: var(--medium_border_radius);
    }

    img {
        border-radius: var(--large_border_radius);
    }

    body.item-view hr {
        border-top: 7px dotted rgb(177, 181, 179);
    }
}

/* Styles that affect all screen sizes */

/* make the cover image width 100%  */
body.item-view .post-body-container :is(p, h1):first-of-type img {
    width: 100%;
}

/* style header of the blog post (page), not the title of the blog snippets */
h3.post-title.entry-title:not(:has(a)) {
    text-align: var(--text_align);
    text-wrap: pretty;
    line-height: 1.6;
}

/* hide blogger logo from footer */
footer div.blogger {
    display: none;
}

/* for "page does not exist" message */
div.status-msg-body {
    margin: 1rem;
    text-align: var(--text_align);
    text-wrap: pretty;
}

/* custom generic styles to be used just in case */
.hundred {
    width: 100%;
}

.center {
    text-align: center;
}

/* GitHub Gists, In case I embed some code-snippets in the future */

div.gist {
    & .mr-2 {
        margin-right: var(--base-size-8, 8px) !important;
    }

    & div.gist-file {
        border: none;

        & .gist-data {
            border-bottom: none;

            /* hide hosted with love by GitHub banner at the bottom of the Gist embed */
            & .gist-meta {
                display: none;
            }
        }
    }
}
