/* --------------------- Custom Styles ------------------------- */

.markdown-body {

    /* ----------------------------- */
    & .highlight pre,
    & pre {
        padding: var(--base-size-16);
        overflow: auto;
        font-size: clamp(14px, 125%, 16px);
        line-height: 1.6;
        color: var(--fgColor-default, var(--color-fg-default));
        background-color: #f5f2f0;
        border-radius: 5px;
        box-sizing: border-box;
    }

    @media screen and (width > 1150px) {
        & .highlight pre,
        & pre {
            border-radius: 10px;
        }
    }

    @media screen and (width > 1281px) {
        & .highlight pre,
        & pre {
            border-radius: 15px;
        }
    }

    & .markdown-heading :is(h1, h2, h3, h4, h5, h6) {
        border-bottom: none;
    }

    & .markdown-heading > a:has(svg.octicon.octicon-link) {
        display: none;
    }

    /* --------------- Alerts ----------------- */
    .markdown-alert {
        padding: var(--base-size-8) var(--base-size-16);
        margin-bottom: var(--base-size-16);
        color: inherit;
        border-left: 0.25em solid var(--borderColor-default);

        /* icon in alerts */
        & .octicon {
            display: inline-block;
            overflow: visible !important;
            vertical-align: text-bottom;
            fill: currentColor;
        }

        /* common styles for all alerts */
        & .markdown-alert-title {
            display: flex;
            font-weight: var(--base-text-weight-medium, 500);
            align-items: center;
            line-height: 1;
        }

        & > :last-child {
            margin-bottom: 0;
        }

        &.markdown-alert-note {
            border-left-color: var(--borderColor-accent-emphasis);

            & .markdown-alert-title {
                color: var(--fgColor-accent);
            }
        }

        &.markdown-alert-warning {
            border-left-color: var(--borderColor-attention-emphasis);

            & .markdown-alert-title {
                color: var(--fgColor-attention);
            }
        }

        &.markdown-alert-tip {
            border-left-color: var(--borderColor-success-emphasis);

            & .markdown-alert-title {
                color: var(--fgColor-success);
            }
        }

        &.markdown-alert-important {
            border-left-color: var(--borderColor-done-emphasis);

            & .markdown-alert-title {
                color: var(--fgColor-done);
            }
        }
        /* --------------------------------------- */
    }

    & ul {
        & li::marker {
            color: rgb(92, 100, 96);
        }
    }


    & p:has(a):has(img) {
        text-align: center;
    }
    /* center image captions.
                image caption must have a link */
    & p:has(em):has(a) {
        text-align: center;
    }
}
